/*--------------------
 colours
---------------------*/
$color-primary: #fff;
$color-secondary:  #2F2F2F;


/*--------------------
 font family
---------------------*/
$font-primary: 'Roboto', 'Noto Sans Japanese', sans-serif;
$font-heading: 'Oswald';
